html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}
ul.navigation li {
  float: left;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
ul.navigation li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 25px;
  padding-bottom: 5px;
  margin-right: 65px;
}

.left {
  float: left;
  font-weight: bold;
  padding-left: 68px;
  font-size: 25px;
  padding-bottom: 10px;
  padding-top: 14px;
  display: inline;
}
@media screen and (max-width: 800px) {
  .left, ul navigation li {
    font-size: 15px;
  }
  }
  @media screen and (max-width: 800px) {
    .left {
      padding-left: 0px;
      text-align: center;
    }
  }
@media screen and (max-width: 800px) {
  ul.navigation li, ul.navigation, .left {
    float: none;
    text-align: center;
}
}
@media screen and (max-width: 800px) {
  ul.navigation li a {
    margin-right: 0px;
  }
}
.home-background {
  background: rgba(23, 23, 224, .7);
  width: 58%;
  padding-left: 68px;
  padding-bottom: 68px;
  border-left: 68px solid white;
  height: 100%;
  border-top: 68px solid white;
}
.frontend {
  color: black;
  font-size: 120px;
  left: 0;
  line-height: 150px;
  margin-top: 300px;
  margin-left: 770px;
  width: 100%;
  letter-spacing: 6px;
  display: inline-block;
}
.icons {
  left: 0;
  line-height: 150px;
  margin-left: 770px;
  width: 100%;
  font-size: 30px;
  display: inline-block;
}
.icons i {
  padding-right: 20px;
}
@media screen and (max-width: 800px) {
  .frontend {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-left: 0px;
    letter-spacing: 6px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 800px) {
  .home-background {
    border-left: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    width: 100%;
    display: hidden;
    height: 100%;
    border-top: 45px solid white;
  }
}
@media screen and (max-width: 800px) {
.icons {
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  font-size: 30px;
  text-align: center;
}
}
#work {
  border: 68px solid white;
  height: 100%;
  background: rgba(23, 23, 224, .7);
  max-height: 1600px;
}
h2 {
  font-size: 20px;
}
h1.work {
  padding-left: 10px;
}
.card-body {
  text-align: center;
  background-color: white;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 40px;
}
.card {
  padding-top: 30px;
} 
.grid-container {
 display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
}
@media screen and (max-width: 800px) {
  h2.work, p.work {
    font-size: 12px;
  }
}
@media screen and (max-width: 800px) {
  #work {
    border: none;
    margin: 0;
  }
}
@media screen and (max-width: 800px) {
  h1.work, h1.skills {
    text-align: center;
  }
}
h1.skills {
  float: right;
  padding-top: 10px;
  margin-bottom: 70px;
  padding-right: 10px;
}
@media screen and (max-width: 800px) {
  h1.skills {
    float: none;
    margin: 0px;
  }
}
.grid-container-skills {
  display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   grid-auto-rows: auto;
   grid-row-gap: 100px;
 }
 @media screen and (max-width: 800px) {
   .grid-container-skills {
    grid-template-columns: 25% 25%;
     grid-gap: 60px;
     justify-content: center;
   }
  }
 #skills {
  background: rgba(23, 23, 224, .7);
  border: 68px solid white;
  height: 100%;
 }
 @media screen and (max-width: 800px) {
   #skills {
     border: none;
     margin: 0px;
   }
  }
 .skills {
   margin-left: 200px;
   padding-top: 50px;
 }
 @media screen and (max-width: 800px) {
   .skills {
     margin: 0px;
     padding: 0px;
   }
  }
 .skills-paragraph {
   text-align: center;
 }
 .skills-body {
   text-align: center;
   display: inline-block;
   padding-bottom: 10px;
   margin-bottom: 40px;
 }
 