html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.navigation {
  overflow: hidden;
}
.navigation {
  float: right;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.navigation a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 12px 50px;
  font-size: 1.5em;
  padding-bottom: 5px;
}
.navigation .icon {
  display: none;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 876px) {
  .navigation a {
    padding: 6px 30px;
  }
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 768px) {
  .navigation a {
    display: none;
    padding: 12px 25px;
    font-size: 20px;
    padding-bottom: 0px;
  }
  .navigation a.icon {
    float: right;
    display: block;
    color: black;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 768px) {
  .navigation.responsive {
    position: relative;
    width: 100%;
    background-color: white;
  }
  .navigation.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
.left {
  float: left;
  font-weight: bold;
  padding-left: 68px;
  font-size: 25px;
  padding-top: 14px;
  display: inline;
}

  @media screen and (max-width: 768px) {
    .left {
      padding-left: 0px;
      text-align: center;
      font-size: 20px;
    }
  }

.home-background {
  background: rgba(23, 23, 224, .7);
  width: 58vw;
  padding-left: 5%;
  border-left: 60px solid white;
  max-height: 100%;
  border-top: 60px solid white;
  height: 90vh;
}
.frontend {
  color: black;
  left: 0;
  margin-top: 10%;
  letter-spacing: 6px;
  display: inline-block;
  text-shadow: 4px 2px 1px white;
}
h1 {
  font-size: 6vw;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 10vw;
  }
}
.icons {
  left: 0;
  max-width: 100%;
  font-size: 2vw;
  display: inline-block;
  line-height: 1.5;
  padding-top: 10px;
}
.icons i {
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .frontend {
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .home-background {
    padding-bottom: 0px;
    width: 50vw;
  }
}
@media screen and (max-width: 1024px) {
  .home-background {
    width: 85%;
  }
}
@media screen and (max-width: 768px) {
  .home-background {
    border-left: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    width: 100%;
    display: hidden;
    height: 100vh;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
.icons {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 30px;
  text-align: center;
}
}
#sections {
  border: 12px solid rgba(23, 23, 224, .7);
  height: 100%;
  background: white;
  max-height: 1600px;
  overflow: hidden;
}
h2 {
  font-size: 40px;
  text-align:center;
  padding-bottom: 30px;
}
.card-body {
  text-align: center;
  background-color: white;
  display: inline-block;
}
.card {
  padding-left: 10px;
  padding-right: 10px;
} 
.grid-container {
 display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: auto;
  max-width: 1200px;
}
@media screen and (max-width: 768px) {
  h2{
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  #sections {
    margin: 0;
    border: 20px solid rgba(23, 23, 224, .7);
  }
}
.grid-container-skills {
  display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   grid-auto-rows: auto;
   grid-row-gap: 50px;
   justify-content: center;
 }
 @media screen and (max-width: 768px) {
   .grid-container-skills {
    grid-template-columns: 25% 25%;
     grid-gap: 60px;
     grid-row-gap: 0px;
     justify-content: center;
   }
  }
 
 .skills {
   margin-left: 100px;
 }
 @media screen and (max-width: 768px) {
   .skills {
     margin: 0px;
     padding: 0px;
     text-align: center;
   }
  }
 .skills-body {
   text-align: center;
   display: inline-block;
   padding-bottom: 25px;
   padding-top: 25px;
 }
 @media screen and (max-width: 768px) {
   .skills-body {
     padding-bottom: 0px;
     margin-bottom: 0px;
     padding-top: 0px;
   }
  }
 p {
   font-size: 1rem;
 }
 .skills-icon {
   font-size: 100px;
 }
 @media screen and (max-width: 768px) {
   .skills-icon {
     font-size: 80px;
   }
  }
  h3 {
    text-align: center;
    font-size: 1rem;
  }
  @media screen and (max-width: 768px) {
    h3 {
      font-size: .9rem;
    }
  }
  .grid-container-certifications {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: auto;
    justify-content: center;
    height: 100%;
  }
  @media screen and (max-width: 768px) {
    .grid-container-certifications {
      grid-template-columns: 25% 25%;
      justify-content: center;
      grid-column-gap: 60px;
    }
  }
  .grid-container-about {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
  }
  @media screen and (max-width: 768px) {
    .grid-container-about {
      display: inline-block;
    }
  }
  .about p {
    width: 50%;
    font-size: 20px;
  }
  @media screen and (max-width: 768px) {
    .about p {
      font-size: 18px;
      align-content: center;
      width: 90%;
      padding-left: 5%;
    }
  }
  .certifications {
    text-align: center;
    width: 100%;
  }
  .icons2 {
    left: 0;
    width: 100%;
    font-size: 30px;
    display: inline-block;
    text-align: center;
  }
  .icons2 i {
    padding-right: 20px;
  }
  .about-pic {
    width: 50%;
    padding-left: 12%;
  }
  @media screen and (max-width: 768px) {
    .about-pic {
      width: 75%;
    }
  }
  h4 {
    font-size: 18px;
  }
  a {
    color: black;
  }
  a:link {
    color:black;
  }
  a:visited {
    color: rgba(0, 0, 0, 0.9);
  }
  a:focus {
    color: black;
  }
  a:hover {
    color: rgba(0, 0, 0, 0.5);
  }
  a:active {
    color: black;
  }
  .button {
    background: rgba(23, 23, 224, .7);
    border-radius: 10px;
    border: none;
    color: white !important;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    display: inline-block;
  }
  @media screen and (max-width: 768px) {
  .button {
    margin-left: 0px;
  }
  .button-container {
    text-align: center;
    margin-top: 5vh;
  }
}
  .logos img {
    max-width: 100%;
  }
  .logos {
    width: 10em;
  }
  @media screen and (max-width: 768px) {
    .logos {
      width: 6em;
    }
  }
/* Code By Webdevtrick ( https://webdevtrick.com ) */
.mobile-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .mobile-menu {
    display: none;
  }
button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 4rem;
  background: none;
  border: none;
  color: white;
  padding: 0.5rem;
  margin-bottom: 0;
}
text {
  color: white;
}
button:focus {
  outline-color: currentColor;
}
button svg {
  width: 100%;
  height: auto;
  display: block;
  filter: drop-shadow(5px 5px hsl(0, 0%, 20%));
}
button .translate {
  transition: transform 0.25s ease-in-out;
  transition-delay: 0.25s;
}
button .rotate {
  transition: transform 0.25s ease-in-out;
  transition-delay: 0s;
}
button.open .translate {
  transform: translateY(0);
  transition-delay: 0s;
}
button.open .rotate {
  transform: rotate(0);
  transition-delay: 0.25s;
}
nav {
  width: 100vmin;
  visibility: hidden;
  height: 0;
}
nav.open {
  height: 100%;
  background-color: rgba(23, 23, 224, .7);
  transition: 0.5s;
}
nav svg {
  width: 100%;
  height: auto;
  display: block;
}
nav svg text {
  text-shadow: 0px 0.2rem hsl(0, 0%, 20%);
  fill: currentColor;
  font-size: 2.5rem;
  letter-spacing: 0px;
  transition-property: letter-spacing, text-shadow;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
nav svg a {
  color: inherit;
  outline: none;
}
nav svg a:hover text,
nav svg a:focus text {
  letter-spacing: 5px;
  text-shadow: 0px 0.5rem hsl(0, 0%, 20%);
}
}
.lottie {
  display: inline-flex;
  float: right;
  position: absolute;
  margin-top: 15%;
  margin-left: 20%;
  width: 600px;
  height: 600px;
}
.lottie2 {
  float: right;
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 1280px) {
  .lottie {
    width: 50%;
    height: 50%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 1024px) {
  .lottie {
    width: 30%;
    height: 30%;
  }
  .lottie2 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .lottie2 {
   display: none;
  }
  .lottie {
    width: 250px;
    height: 250px;
    float: none;
    margin-left: 5%;
    margin-top: 0;
    position:relative;
  }
}
