html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}
ul.navigation li {
  float: left;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
ul.navigation li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 25px;
  padding-bottom: 5px;
  margin-right: 65px;
}

.left {
  float: left;
  font-weight: bold;
  padding-left: 68px;
  font-size: 25px;
  padding-bottom: 10px;
  padding-top: 14px;
  display: inline;
}
@media screen and (max-width: 800px) {
  .left, ul navigation li {
    font-size: 15px;
  }
  }
  @media screen and (max-width: 800px) {
    .left {
      padding-left: 0px;
      text-align: center;
    }
  }
@media screen and (max-width: 800px) {
  ul.navigation li, ul.navigation, .left {
    float: none;
    text-align: center;
}
}
@media screen and (max-width: 800px) {
  ul.navigation li a {
    margin-right: 0px;
  }
}
.home-background {
  background: rgba(23, 23, 224, .7);
  width: 58%;
  padding-left: 5%;
  padding-bottom: 1%;
  border-left: 68px solid white;
  height: 100%;
  border-top: 68px solid white;
}
.frontend {
  color: black;
  font-size: 120px;
  left: 0;
  line-height: 150px;
  margin-top: 33%;
  margin-left: 60%;
  width: 100%;
  letter-spacing: 6px;
  display: inline-block;
}
.icons {
  left: 0;
  line-height: 150px;
  margin-left: 60%;
  width: 100%;
  font-size: 30px;
  display: inline-block;
}
.icons i {
  padding-right: 20px;
}
@media screen and (max-width: 1024px) {
  .frontend {
    font-size: 80px;
    margin-left: 50%;
  }
}
@media screen and (max-width: 800px) {
  .frontend {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-left: 0px;
    letter-spacing: 6px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .home-background {
    border-left: 45px solid white;
    border-top: 105px solid white;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 800px) {
  .home-background {
    border-left: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    width: 100%;
    display: hidden;
    height: 100%;
    border-top: 45px solid white;
  }
}
@media screen and (max-width: 1024px) {
  .icons {
    margin-left: 50%;
  }
}
@media screen and (max-width: 800px) {
.icons {
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  font-size: 30px;
  text-align: center;
}
}
#sections {
  border: 45px solid rgba(23, 23, 224, .7);
  height: 100%;
  background: white;
  max-height: 1600px;
  overflow: hidden;
}
h2 {
  font-size: 40px;
  text-align:center;
  padding-bottom: 30px;
}
.card-body {
  text-align: center;
  background-color: white;
  display: inline-block;
}
.card {
  padding-left: 10px;
  padding-right: 10px;
} 
.grid-container {
 display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
}
@media screen and (max-width: 800px) {
  h2{
    font-size: 25px;
  }
}
@media screen and (max-width: 800px) {
  #sections {
    margin: 0;
    border: 20px solid rgba(23, 23, 224, .7);
  }
}
.grid-container-skills {
  display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   grid-auto-rows: auto;
   grid-row-gap: 50px;
   justify-content: center;
 }
 @media screen and (max-width: 800px) {
   .grid-container-skills {
    grid-template-columns: 25% 25%;
     grid-gap: 60px;
     grid-row-gap: 0px;
     justify-content: center;
   }
  }
 
 .skills {
   margin-left: 100px;
 }
 @media screen and (max-width: 800px) {
   .skills {
     margin: 0px;
     padding: 0px;
     text-align: center;
   }
  }
 .skills-body {
   text-align: center;
   display: inline-block;
   padding-bottom: 50px;
   padding-top: 50px;
 }
 @media screen and (max-width: 800px) {
   .skills-body {
     padding-bottom: 0px;
     margin-bottom: 0px;
     padding-top: 0px;
   }
  }
 p {
   font-size: 16px;
 }
 .skills-icon {
   font-size: 100px;
 }
 @media screen and (max-width: 800px) {
   .skills-icon {
     font-size: 80px;
   }
  }
  h3 {
    text-align: center;
    font-size: 20px;
  }
  .grid-container-certifications {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: auto;
  }
  @media screen and (max-width: 800px) {
    .grid-container-certifications {
      grid-template-columns: 25% 25%;
      justify-content: center;
      grid-column-gap: 25px;
    }
  }
  .grid-container-about {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
  }
  @media screen and (max-width: 800px) {
    .grid-container-about {
      display: inline-block;
    }
  }
  .about p {
    width: 50%;
    font-size: 20px;
  }
  @media screen and (max-width: 800px) {
    .about p {
      font-size: 18px;
      align-content: center;
      width: 90%;
      padding-left: 5%;
    }
  }
  .certifications {
    text-align: center;
  }
  .icons2 {
    left: 0;
    width: 100%;
    font-size: 30px;
    display: inline-block;
    text-align: center;
  }
  .icons2 i {
    padding-right: 20px;
  }
  .about-pic {
    width: 50%;
    padding-left: 12%;
  }
  @media screen and (max-width: 800px) {
    .about-pic {
      width: 75%;
    }
  }
  h4 {
    font-size: 18px;
  }
  a {
    color: black;
  }
  a:link {
    color:black;
  }
  a:visited {
    color: rgba(0, 0, 0, 0.9);
  }
  a:focus {
    color: black;
  }
  a:hover {
    color: rgba(0, 0, 0, 0.5);
  }
  a:active {
    color: black;
  }